.ui-element {
  z-index: 20;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 14px #cccccc, -7px -7px 14px #ffffff;
  border: 1px solid #dedce2;
  margin: 0.5rem;
  padding: 0.65rem;
  background: #efeeee;
  box-sizing: border-box;
}
